<nav>
  <div class="nav-wrapper">
    <a class="brand-logo">
        <!-- <img class="logo responsive-img" src="../assets/ForkKnifeLogo.png"> -->
      Fork&Knife
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a routerLink="/dashboard" class="material-icons">home</a>
      </li>
      <li>
        <a class="material-icons">verified_user</a>
      </li>
    </ul>
  </div>
</nav>
<!-- <app-take-order></app-take-order> -->
<!-- <app-new-category-screen></app-new-category-screen> -->
<!-- <app-dashboard-screen></app-dashboard-screen> -->
<router-outlet></router-outlet>