<div class="row">
  <div class="border">
    <div class="col s12 m6 l6">
      <div class="row">
        <div matTooltip="Nueva Orden" class="col s4 box">
            <img (click)="newOrder()" class="circle responsive-img hoverable" src="../../assets/restaurant.png">
       </div>
        <div matTooltip="Caja" class="col s4 box">
            <img class="circle responsive-img hoverable" src="../../assets/credit-card.png">
        </div>
        <div matTooltip="Mis Mesas" class="col s4 box">
            <img routerLink="/order/1530777505651" class="circle responsive-img hoverable" src="../../assets/dinner.png">
        </div>
      </div>
      <div class="row">
        <div  matTooltip="Empleados" class="col s4 box">
            <img routerLink="/employees" class="circle responsive-img hoverable" src="../../assets/waiter.png">
        </div>
        <div matTooltip="Conexion" class="col s4 box">
            <img class="circle responsive-img hoverable" src="../../assets/wifi.png">
        </div>
        <div matTooltip="Editar Menu" class="col s4 box">
            <img routerLink="/newCategory" class="circle responsive-img hoverable" src="../../assets/room-service.png">
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m6 l6">
    <app-signin-form></app-signin-form>
  </div>
</div>